/* src/pages/ManageWorkload/ExamProctorPage.module.css */

.headerRow {
  display: flex;
  align-items: center;
  background-color: #f0faff;;
}

.backBtn {
  /* back button stays at start */
  margin-right: auto;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.mainContainer {
  /* existing styles */
  background-color: #d2e9ff;
}
